:root {
     --verde: #006A69;
    --cinza: #3F4948;
    --btn-bg: #035958;
    --cbtn-bg:  #DDE4E3;
    --btn-color: white;
    --bg: #fff;
    --text-color: #222;
    --max-width: 420px;
    --radius: 9px;
    --primary: #0a7269;
    --voltar-bg: #D9D9D9;
     --text-tag: #fff;
     --border:#D9D9D9;
     --input:white;
     --icons: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: var(--bg);
    max-width: var(--max-width);
    height: 100%;
}

.container {
    max-width: var(--max-width);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voltar {
    margin-top: 2vh;
    background: var(--voltar-bg);
    padding: 6px;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 45px;
    align-self: stretch;
    border: none;
}

.voltar img {
    width: 20px;
    height: 20px;
}
.voltar a {
    width: 20px;
    height: 20px;
     color: var(--icons);
}
.voltar i {
    width: 20px;
    height: 20px;
     color: var(--icons);
}
.texto {
    width: 100%;
    margin-top: 12px;
}

.texto h1 {
    font-size: clamp(20px, 4vw, 26px);
    color: var(--verde);
    line-height: 1.3;
}

.texto p {
    font-size: clamp(14px, 3vw, 18px);
    color: var(--cinza);
    margin-top: 4px;
    line-height: 1.3;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 2px;
}

.form {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    align-items: center;
}

.grupo-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
    position: relative;
}

.grupo-input label{
    font-size: 14px;
    color: var(--cinza);
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.obrigatorio {
    color: var(--verde);
    font-weight: bold;
    margin-left: 5px;
}

.grupo-input input{
    padding: 10px 12px;
    border-radius: var(--radius);
    font-size: 15px;
    width: 100%;
    outline: none;
    transition: 0.2s;
    background: var(--input);
    border: var(--border) solid 2px;
    color: var(--text-color);
}

.grupo-input-color {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3px;
    position: relative;
}

.grupo-input-color label {
    font-size: 14px;
    color: var(--cinza);
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.grupo-input-color input{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    outline: none;
}
.texto-color{
    width: 100%;
    margin-top: 5px;
}

.texto-color p{
    font-size: clamp(14px, 3vw, 18px);
    color: var(--cinza);
    margin-top: 4px;
    line-height: 1.3;
}
h4{
    font-size: clamp(16px, 3vw, 12px);
    color: var(--verde);
    line-height: 1.3;
    align-self: stretch;
}

.grupo-input select{
    padding: 10px 12px;
    border: 2px solid #D9D9D9;
    border-radius: var(--radius);
    font-size: 15px;
    width: 100%;
    outline: none;
    transition: 0.2s;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    color: var(--text-color);
      background: var(--input);
    border: var(--border) solid 2px;
}

.grupo-input option{
    border-radius: 8px;
    font-size: 12px;
    color: var(--cinza);
    border: #3F4948 solid 1px;
}

.grupo-input textarea{
    padding: 10px 12px;
    border: 2px solid #D9D9D9;
    border-radius: var(--radius);
    font-size: 15px;
    width: 100%;
    outline: none;
    transition: 0.2s;
      background: var(--input);
    border: var(--border) solid 2px;
    color: var(--text-color);
}

.grupo-input textarea:focus {
    border-color: var(--verde);
}

.grupo-input input:focus {
    border-color: var(--verde);
}

.motivo{
    font-size: 14px;
    color: var(--cinza);
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.img-list{
    width: 80vh;
    display: flex; 
    overflow-x: auto; 
    flex-wrap: nowrap;
    overflow-y: hidden;
}

.preview-container {
    position: relative;
    height: 8vh;
    margin-right: 6px;
    flex: 0 0 8vh;
}
.preview-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.remover-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: var(--btn-bg);
    color: white;
    border: none;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.grupo-img input[type="file"]{
  display: none !important;
}

.grupo-img{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.btn-adicionar{
  background: var(--btn-bg);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vh;
  height: 8vh;
}

.btn-adicionar img {
  width: 20px;
  height: 20px;
}



/* COMEÇA STYLE DAS TAGS */
.post-tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 5px;
}

#tag-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 6px;        
  margin-top: 8px;
}
.tag {
    background: var(--primary);
    color: var(--text-tag);
    text-decoration: underline;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.tag button{
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.ver-mais {
    background: var(--btn-bg);
    border: none;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
}

.ver-mais img{
    margin-top: 1px;
    width: 20px;
    height: 20px;
}

.adicionar {
    position: relative;
    display: inline-block;
    align-items: center;
}

.adicionar input {
    width: 83%;
    padding-right: 30px;
    vertical-align: middle;
}

.fechar, .ok {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechar {
    right: 60px;
    background: none;
    border: none;
}

.ok {
    right: 10px;
    background: var(--btn-bg);
    border: none;
    border-radius: 5px;
    padding: 9.5px 10px;
    cursor: pointer;
}

.ok img, .fechar img {
    width: 20px;
    height: 20px;
    display: block;
}

.btn{
    width: 80%;
    height: 35px;
    border-radius: var(--radius);
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cancelar {
    background: var(--cbtn-bg);
    color: var(--text-color);
}

.btn-cancelar:hover {
    background: var(--voltar-bg);
    transform: scale(1.02);
}

.btn-avancar {
    background: var(--btn-bg);
    color: var(--btn-color);
}

.btn-avancar:hover {
    background: var(--primary);
    transform: scale(1.02);
}

#msg{
    position: fixed;
    bottom: 9vh;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    width: 30vh;
    padding: 1vh;
    border-radius: 6px;
    z-index: 9999;
    display: none;
    text-align: center;
}

/* RESPONSIVIDADE EXTRA */
@media (max-width: 420px) {
    .container {
        padding: 12px;
    }
    .btn-avancar {
        font-size: 15px;
        height: 35px;
    }

     .btn-cancelar {
        font-size: 15px;
        height: 35px;
    }
  
  
}

@media (max-width: 300px) {
    .texto h1 {
        font-size: 18px;
    }
    .texto p {
        font-size: 13px;
    }

    .btn {
        width: 100%;
        font-size: 14px;
        height: 32px;
    }

    .grupo-input input {
        padding: 8px 10px;
        font-size: 14px;
    }
}




